.App{
  /* background-image: url("../public/images/galaxy1.jpg"); */
  background-color: rgba(0, 0, 54, 0.764);
  color: #ffff;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

.App-header{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

